<div layout="column" style="height: 100%">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="menu" ng-click="openMainMenu()"></md-icon>
      </md-button>
      <h2 ng-hide="enableFind" style="width: 100%">
        <span>DataSources</span>
      </h2>
      <span flex></span>

      <input ng-hide="!enableFind" ng-model="filter"
             style= "border: 0;
                   height: 36px;
                   width: 100%;
                   outline: none;
                   background-color: #f2f2f2;
                   -moz-border-radius: 5px;
                   -webkit-border-radius: 5px;
                   border-radius: 5px;
                   color:grey;
                   outline: none;">

      <md-button class="md-icon-button" ng-hide="enableFind || !enableMap" aria-label="More" ng-click="map(selectedDatasource)">
        <md-icon md-svg-icon="earth"></md-icon>
      </md-button>

      <md-button class="md-icon-button" ng-hide="enableFind || !enableRecords" aria-label="More" ng-click="viewRecords(selectedDatasource)">
        <md-icon md-svg-icon="view-list"></md-icon>
      </md-button>

      <md-button class="md-icon-button" ng-hide="enableFind" aria-label="More" ng-click="find()">
        <md-icon md-svg-icon="magnify"></md-icon>
      </md-button>

      <md-button class="md-icon-button"ng-hide="!enableFind"  aria-label="More" ng-click="cancelFind()">
        <md-icon md-svg-icon="close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div layout="column" style="height: 100%">
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="datasource in datasources | filter:filter" ng-click="select(datasource)">
        <md-checkbox aria-label="checkbox" ng-checked="datasource === selectedDatasource">
        </md-checkbox>
        <div class="md-list-item-text" layout="column">

          <h3>
            <md-icon md-svg-icon="vector-polygon" ng-show="datasource.schema.properties.the_geom"></md-icon>
            <md-icon md-svg-icon="table-large" ng-show="!datasource.schema.properties.the_geom"></md-icon>
            {{ datasource.name }}</h3>
          <p>{{ datasource.description }}</p>
        </div>

      </md-list-item>
    </md-list>
  </div>

  <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-whiteframe="12">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>
    <md-content layout-padding>
      <p>
        This sidenav is locked open on your device. To go back to the default behavior,
        narrow your display.
      </p>
    </md-content>
  </md-sidenav>
</div>
