<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="menu" ng-click="openMainMenu()"></md-icon>
    </md-button>
    <h2>
      <span>Toolbar with Icon Buttons</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-icon="plus"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="autorenew"></md-icon>
    </md-button>
  </div>
</md-toolbar>
<div layout="column" style="height: 100%">
  <md-button ng-click="goToforms()" class="md-raised md-primary">Formularios</md-button>
</div>
